/* COMMON */
:root {
  --white-color: #fefefe;
  --black-color: #2a2a2a;
  --check-color: #c2c2c2;
  --cover-color: rgba(254, 254, 254, 0.9);
  --orange-color: #ff5c00;
  --box-white: #f9f9f9;
  --background2-color: #f0f0f0;
  --cover2-color: #2a2a2a21;
}

.dark-mode {
  --white-color: #2a2a2a;
  --black-color: #fefefe;
  --check-color: #c2c2c27c;
  --cover-color: rgba(42, 42, 42, 0.9);
  --orange-color: #ff5c00;
  --box-white: #202020;
  --background2-color: #2a2a2a21;
  --cover2-color: #f0f0f0;
}

.body__container {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--black-color);
  background: var(--white-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* SECTION & INNER */
.section {
  position: relative;
}

.section .inner {
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

/* FLOAT */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

/* ----- scroll top ----- */

.scrollTop {
  position: fixed;
  bottom: 100vh;
  right: 3vh;
  width: 60px;
  height: 100px;
  z-index: 1000;
  font-size: 50px;
  color: var(--black-color);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

.scrollTop.active {
  bottom: 3vh;
  visibility: visible;
  opacity: 1;
}

/* HEADER */
.header--fixed {
  position: sticky;
  top: 0px;
  z-index: 1000;
}

header {
}

header .inner {
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  margin-top: 25px;
  width: 70px;
}

.logo svg {
  display: flex;
  align-items: center;
}

.logo .st0 {
  fill: var(--black-color);
}

.logo:hover .st0 {
  fill: var(--check-color);
}

/* --drakmode-- */
.darkmode {
  position: absolute;
  width: 500px;
  display: flex;
  justify-content: center;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

#darkmodeBtn {
  display: none;
}

.darkmode label {
  position: relative;
  top: 40px;
  width: 35px;
  height: 20px;
  text-indent: -9999em;
  background: var(--black-color);
  border-radius: 25px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ label {
  background: var(--black-color);
}

label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  background: var(--white-color);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transition: 0.5s;
}

input[type="checkbox"]:checked ~ label:before {
  transform: translateX(-50px);
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  background: var(--white-color);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(50px);
}

input[type="checkbox"]:checked ~ label:after {
  transform: translateX(0px);
}
/* --drakmode-- */

.menu-group {
}

.menu-group ul {
  display: flex;
}

.menu-group li {
  padding: 30px;
  box-sizing: border-box;
}

.menu-group li:last-child {
  padding-right: 0;
}

.menu-group li a {
  color: var(--check-color);
}

.menu-group li:nth-child(3) a {
  color: var(--black-color);
}

.menu-group li a:hover {
  color: var(--black-color);
}

/* DEVELOPMENT */
.section--development {
  margin-top: 150px;
  height: 90vh;
}

.section--development .inner {
  position: relative;
}

.development__container {
  position: absolute;
  z-index: 100;
}

.development__container .head__text {
  fill: var(--black-color);
}

.development__info {
  position: absolute;
  z-index: 200;
  margin: 300px 0 0;
  transform: translate(15%, 0) scale(0.8);
}

.development__info .development__text {
  font-size: 25px;
  line-height: 1.5;
  padding: 0 20px 20px 40px;
}

.wrapper {
}

.wrapper ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
}

.wrapper li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper .arc {
  width: 250px;
  stroke: var(--orange-color);
}

.wrapper .c-logo path {
  stroke: none;
  fill: var(--check-color);
  transition: fill 0.8s ease-out;
}

.wrapper .logo__container {
  position: absolute;
  width: 50px;
  top: 75px;
  left: 105px;
}

.wrapper:hover .c-logo path {
  stroke: none;
  fill: var(--orange-color);
}

#arc {
  stroke-width: 8px;
}
#graph {
  stroke-dashoffset: 0;
  stroke: var(--check-color);
  stroke-dasharray: 251.35px;
  transition: stroke-dashoffset 0.8s ease-out;
  stroke-width: 8px;
}
.wrapper:hover #graph {
  stroke-dashoffset: calc(251.35px / 100 * var(--val));
  stroke-dasharray: 251.35px;
}

/* BAR */
hr {
  max-width: 1300px;
  border: none;
  border-bottom: 1px solid var(--black-color);
  opacity: 0.2;
}

/* DESIGN */
.section--design {
  margin-top: 150px;
  height: 80vh;
}

.section--design .inner {
  position: relative;
}

.design__container {
  position: absolute;
  z-index: 100;
}

.design__container .head__text {
  fill: var(--black-color);
}

.design__info {
  position: absolute;
  z-index: 200;
  margin: 300px 0 0;
  transform: translate(15%, 0) scale(0.8);
}

.design__info .design__text {
  font-size: 25px;
  line-height: 1.5;
  padding: 0 20px 20px 40px;
}

/* FOOTER */
.section--footer {
  height: 70px;
  padding-top: 50px;
  margin: 0 auto;
}

.icon-links {
  font-size: 30px;
  color: var(--black-color);
  display: flex;
}

.icon-links li {
  margin-right: 5px;
}

.icon-links li:hover {
  color: var(--check-color);
}
